.env
venv
*.xls
./backAPI/__pycache__
./dssProject/__pycache__# Python
__pycache__/
*.py[cod]
*.class
*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Excel/Data files (Outputs/temporaries)
# dssProject/Modelo_matemático/Resultados_planificación.xlsx
# You might want to keep the input ones though, so I'll just ignore common temp ones
~$*.xlsx
*.xlsm
*.xlsb

# PDF Outputs
dssProject/Modelo_matemático/Files/*.pdf
dssProject/Modelo_matemático/Files/*.png

# IDEs
.vscode/
.idea/
